body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-login{
  background-color: chartreuse;
  color:black;
  border-radius: 40px;
  padding: 15px 40px;
  font-size: x-large;
  border: 5px solid rgba(34, 30, 30, 0.973);
}
.btn-login:hover{
  border: 5px solid rgba(206, 198, 198, 0.973);
}

.btn-logout{
  background-color: red;
  color:white;
  border-radius: 40px;
  padding: 15px 40px;
  font-size: x-large;
  border: 5px solid rgba(34, 30, 30, 0.973);
}
.btn-logout:hover{
  border: 5px solid rgba(206, 198, 198, 0.973);
}

.image{
  border-radius: 50%;
}